/*
  Colors
*/
$white: #fff;
$pale-navy: #36384d;
$dark-navy: #242742;
$grey-25: #19182b;
$vermillion: #ff6155;
$vermillion-15: rgba(255, 97, 85, 0.15);
$gradient-225deg-0: #ff6a3a;
$gradient-225deg-100: #ff527b;
$gradient-225deg-shadow: rgba(255, 97, 85, 0.5);

// Breakpoints
$sm: 'only screen and (max-width: 767px)';
$md: '(min-width: 767px) and (max-width: 1059px)';
$lg: '(min-width: 1060px)';
